@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif !important;
}

body {
  color: white;
  background-color: $theme-black;
  height: 100vh;
  max-width: 768px;
  margin: 0 auto;
}
